hooks/build/hooks/post_gen/post_gen_22f6f925ad714d164f7740b3cddb620a5d8f5325.dill
hooks/build/hooks/pre_gen/pre_gen_9a17cdcebfca3f47370559a3a831188db8e80255.dill
hooks/pubspec.lock
hooks/.dart_tool/package_config.json
